html,
body {
  height: 100%;
  font-size: 16pt;
}
@media screen and (min-width: 768px) {
  html,
body {
    font-size: 15pt;
  }
}
@media screen and (min-width: 992px) {
  html,
body {
    font-size: 14pt;
  }
}

#autoscroll-btn {
  display: block;
}
@media screen and (min-width: 992px) {
  #autoscroll-btn {
    display: none;
  }
}

#mobile-tablet-menu-container {
  z-index: 100;
  display: block;
}
@media screen and (min-width: 992px) {
  #mobile-tablet-menu-container {
    display: none;
  }
}
#mobile-tablet-menu-container button {
  z-index: 1;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mobile-tablet-menu-container button .fas {
  text-align: center;
  font-size: 25pt;
}
#mobile-tablet-menu-container .offcanvas-header {
  background-color: #b2c4ff;
}
#mobile-tablet-menu-container .offcanvas-body {
  background-color: #d7ebff;
}

#home-container-fluid #left-ads {
  background-image: url("../assets/images/ad-left.jfif");
  background-position: top;
}
#home-container-fluid #right-ads {
  background-image: url("../assets/images/ad-right.jfif");
  background-position: top;
}
#home-container-fluid #header {
  height: 100vh;
  background-color: #b2c4ff;
}
@media screen and (min-width: 992px) {
  #home-container-fluid #header {
    height: 150px;
  }
}
#home-container-fluid #header .logo-wrapper .img-wrapper {
  width: 100%;
  padding: 10pt;
}
#home-container-fluid #header .logo-wrapper .img-wrapper img {
  width: 100%;
}
@media screen and (min-width: 992px) {
  #home-container-fluid #header .logo-wrapper .img-wrapper {
    width: 50%;
  }
}
#home-container-fluid #header #desktop-menu-container {
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
@media screen and (min-width: 992px) {
  #home-container-fluid #header #desktop-menu-container {
    display: block;
  }
}
#home-container-fluid #main {
  background-color: #d7ebff;
}
#home-container-fluid #main .filter {
  padding: 15pt;
  display: none;
  font-size: 0.65rem;
  background-color: white;
}
@media screen and (min-width: 992px) {
  #home-container-fluid #main .filter {
    display: block;
  }
}
#home-container-fluid #main .products-showcase {
  background-color: #d7ebff;
}
#home-container-fluid #main .products-showcase .card {
  padding: 15pt;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.2s linear, transform 0.2s ease;
}
#home-container-fluid #main .products-showcase .card:hover, #home-container-fluid #main .products-showcase .card:active {
  z-index: 1;
  box-shadow: 0px 0px 20px 0px #003d6e;
  transform: scale(1.007);
}
#home-container-fluid #main .products-showcase .card .img-wrapper {
  max-width: 300px;
}
#home-container-fluid #main .products-showcase .card .img-wrapper img {
  width: 100%;
}
#home-container-fluid #main .products-showcase .card .card-body {
  text-align: center;
  max-width: 300px;
}
#home-container-fluid #footer {
  background-color: #b2c4ff;
}
#home-container-fluid #footer .contact-container {
  flex-direction: column;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  #home-container-fluid #footer .contact-container {
    flex-direction: row;
    font-size: 0.9em;
  }
}
@media screen and (min-width: 992px) {
  #home-container-fluid #footer .contact-container {
    font-size: 0.8em;
  }
}
#home-container-fluid #footer .contact-container ul {
  list-style: none;
}

.modal-content .modal-header {
  background-color: #b2c4ff;
  color: white;
  margin: 5px;
}
.modal-content .modal-header .btn-close {
  display: flex;
  align-self: flex-start;
  background-color: white;
  font-size: 60%;
}
.modal-content .modal-body {
  box-shadow: 0px 5px 10px black;
}
.modal-content .modal-body .carousel .carousel-inner {
  height: 350px;
}
.modal-content .modal-body .carousel .carousel-inner .carousel-item img {
  width: 100%;
}
.modal-content .modal-body .colors {
  background-color: #d7ebff;
  padding: 15pt;
}
.modal-content .modal-body .colors h1 {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
}
.modal-content .modal-body .colors .color {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 992px) {
  .modal-content .modal-body .colors .color {
    align-self: center;
  }
}
.modal-content .modal-body .colors .color input[type=radio][id=black] {
  display: none;
}
.modal-content .modal-body .colors .color input[type=radio][id=black] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 3rem;
  height: 3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  background: radial-gradient(black 0%, black 40%, transparent 50%, transparent);
}
.modal-content .modal-body .colors .color input[type=radio][id=white] {
  display: none;
}
.modal-content .modal-body .colors .color input[type=radio][id=white] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 3rem;
  height: 3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  background: radial-gradient(white 0%, white 40%, transparent 50%, transparent);
}
.modal-content .modal-body .colors .color input[type=radio][id=red] {
  display: none;
}
.modal-content .modal-body .colors .color input[type=radio][id=red] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 3rem;
  height: 3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  background: radial-gradient(Red 0%, Red 40%, transparent 50%, transparent);
}
.modal-content .modal-body .colors .color input[type=radio][id=blue] {
  display: none;
}
.modal-content .modal-body .colors .color input[type=radio][id=blue] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 3rem;
  height: 3rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: black;
  background: radial-gradient(Blue 0%, Blue 40%, transparent 50%, transparent);
}
.modal-content .modal-body .info h5 {
  font-size: 20px;
  font-weight: bold;
}
.modal-content .modal-body .info span {
  font-size: 20px;
}
.modal-content .modal-body .check p {
  font-size: 16px;
}
.modal-content .modal-footer {
  height: 150px;
}
.modal-content .modal-footer .btn {
  margin: 30px;
  width: 100px;
}

#body-checkout {
  background-color: #d7ebff;
}
#body-checkout #checkout-header {
  height: 100px;
  background-color: #b2c4ff;
}
#body-checkout #checkout-header #header-wrapper {
  height: 100px;
}
#body-checkout #checkout-header #cart-logo {
  display: none;
}
@media screen and (min-width: 768px) {
  #body-checkout #checkout-header #cart-logo {
    display: unset;
  }
}
#body-checkout #checkout-header i {
  font-size: 1.5rem;
}
#body-checkout #checkout-header .logo-container {
  display: none;
  height: 40px;
}
@media screen and (min-width: 768px) {
  #body-checkout #checkout-header .logo-container {
    display: unset;
  }
}
#body-checkout #checkout-header .logo-container img {
  height: 100%;
}
#body-checkout #checkout-header #continue {
  background-color: #004c8c;
}
#body-checkout #checkout-header #continue:hover {
  background-color: #003d6e;
}
@media screen and (min-width: 768px) {
  #body-checkout #checkout-header #continue {
    display: none;
  }
}
#body-checkout #checkout-header a:link,
#body-checkout #checkout-header a:visited {
  color: black;
}
#body-checkout #checkout-main .img-wrapper {
  padding: 30px;
}
@media screen and (min-width: 992px) {
  #body-checkout #checkout-main .img-wrapper {
    padding: 20px;
  }
}
#body-checkout #adleft {
  display: none;
}
@media screen and (min-width: 992px) {
  #body-checkout #adleft {
    background-image: url("../assets/images/ad-left.jfif");
    background-position: top;
    display: unset;
    height: 913px;
  }
}
#body-checkout #adright {
  display: none;
}
@media screen and (min-width: 992px) {
  #body-checkout #adright {
    background-image: url("../assets/images/ad-right.jfif");
    background-position: top;
    display: unset;
    height: 913px;
  }
}
#body-checkout .price-sm-container {
  display: unset;
}
@media screen and (min-width: 768px) {
  #body-checkout .price-sm-container {
    display: none;
  }
}
#body-checkout .price-sm-container #price-sm {
  height: 40px;
  display: unset;
}
#body-checkout .price-sm-container #price-sm #total {
  float: left;
}
#body-checkout .price-sm-container #price-sm #amount {
  float: right;
}
#body-checkout #price-md-lg {
  display: none;
  background-color: white;
}
#body-checkout #price-md-lg ul {
  background-color: transparent;
  width: 100%;
}
#body-checkout #price-md-lg ul li {
  list-style-type: none;
  list-style-position: unset;
}
#body-checkout #price-md-lg ul hr {
  margin: 5px;
}
@media screen and (min-width: 768px) {
  #body-checkout #price-md-lg {
    display: unset;
  }
}
#body-checkout #price-md-lg button {
  margin-bottom: 10px;
  background-color: #004c8c;
}
#body-checkout #price-md-lg button:hover {
  background-color: #003d6e;
}
#body-checkout #price-box,
#body-checkout #price-num {
  display: none;
}
@media screen and (min-width: 992px) {
  #body-checkout #price-box,
#body-checkout #price-num {
    display: unset;
  }
}

#btn-reset {
  margin-top: 10px;
}

#btn-submit {
  margin-top: 5px;
  background-color: #004c8c;
}
#btn-submit:hover {
  background-color: #003d6e;
}

#body-thankyou #header-thankyou .header-wrapper {
  display: none;
}
#body-thankyou #header-thankyou .header-wrapper .logotype {
  display: none;
  height: 40px;
}
@media screen and (min-width: 992px) {
  #body-thankyou #header-thankyou .header-wrapper {
    display: unset;
    height: 100px;
    background-color: #b2c4ff;
  }
  #body-thankyou #header-thankyou .header-wrapper .logotype {
    display: unset;
  }
}
#body-thankyou #main-thankyou {
  padding: 10px;
  background-color: #b2c4ff;
}
#body-thankyou #main-thankyou .check-icon {
  font-size: 70px;
  color: green;
}
#body-thankyou #main-thankyou .main-heading {
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
}
#body-thankyou #main-thankyou .main-ordernumber {
  font-size: 16px;
}
#body-thankyou #main-thankyou .main-table {
  height: 100%;
  padding: 0px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}
#body-thankyou #main-thankyou .main-table .table tr {
  font-weight: bold;
  border: 1px solid black;
}
#body-thankyou #main-thankyou .main-table .table .lighter {
  font-weight: lighter;
}
#body-thankyou #footer-thankyou .footer-container {
  height: 200px;
}
#body-thankyou #footer-thankyou .footer-container button {
  background-color: white;
}
#body-thankyou #ad-left {
  display: none;
}
@media screen and (min-width: 992px) {
  #body-thankyou #ad-left {
    background-image: url("../assets/images/ad-left.jfif");
    background-position: top;
    display: unset;
    height: 913px;
  }
}
#body-thankyou #ad-right {
  display: none;
}
@media screen and (min-width: 992px) {
  #body-thankyou #ad-right {
    background-image: url("../assets/images/ad-right.jfif");
    background-position: top;
    display: unset;
    height: 913px;
  }
}

/*# sourceMappingURL=main.css.map */
